<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646216687861-ivk316bd0ufucqps2lau96i1qqera7n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646216687861-ivk316bd0ufucqps2lau96i1qqera7n3</string>
	<key>API_KEY</key>
	<string>AIzaSyCExGsGk06em8gjANLCjwF-1Ixpv9Lwoes</string>
	<key>GCM_SENDER_ID</key>
	<string>646216687861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegisterUi</string>
	<key>PROJECT_ID</key>
	<string>login-register-ui-b651b</string>
	<key>STORAGE_BUCKET</key>
	<string>login-register-ui-b651b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646216687861:ios:65464981cbb563109ea5bc</string>
</dict>
</plist>